@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #121212;
  --yellow: #fcd549;
  --black: #010000;
  --grey-1: #898782;
  --grey-2: #626262;
  --grey-3: #3c3c3c;
  --white: #ffffff;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
 background: #e5ecea;
}

::-webkit-scrollbar-thumb {
 background: #010000;
}

::-webkit-scrollbar-thumb:hover {
  background: #3c3c3c;
}

html {font-size: 100%;} /*16px*/

body {
  font-family: 'Merriweather Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  line-height: 1.75;
}
p {margin-bottom: 1rem;}

h1, h2, h3, h4, h5 {
  margin: 3rem 0 1.38rem;
  font-family: 'Merriweather Sans', sans-serif;
  font-weight: 400;
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  font-size: 7.594rem;
}

h2 {font-size: 5.063rem;}

h3 {font-size: 3.375rem;}

h4 {font-size: 2.25rem;}

h5 {font-size: 1.5rem;}

small, .text_small {font-size: 0.667rem;}

button, input {
  font-family: inherit;
}

a {
  text-decoration: none;
  font-size: 1rem;
  color: #d2e3e9;
}

.swiper-wrapper {
  margin-bottom: 2.5rem !important;
}

.swiper-pagination-bullet{
  background: white !important;
}

.swiper-pagination-bullet-active {
  background: var(--swiper-pagination-color,var(--swiper-theme-color)) !important;
}